.box {
  background: black;
  padding-top: 204px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio {
  font-family: NEXT ART;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 54px;
  color: #ffffff;
}

.portfolio-container {
  display: flex;
  justify-content: flex-start;
}
.button-left {
  height: 21px;
  background: #e2a300;
  border-radius: 50%;
  height: 40px;
  margin-top: 274px;
  margin-left: 40px;
  margin-right: 41px;
}

.block {
  display: flex;
  justify-content: space-between;
  width: 970px;
  background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
  box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
  border-radius: 29px;
  margin-bottom: 25px;
  
}
.photo-logo {
  padding: 50px;
}

.paragravph {
  font-family: Arodora Pro;
  text-align: center;
  color: #ffffff;

  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.text-container {
  margin-top: 83px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-right: 50px;
  font-family: Arodora Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.text-container__blok {
  margin-top: 83px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more {
  color: #e2a300;
  text-decoration: none;
  width: 43px;
  height: 21px;

  font-family: Arodora Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.more-blok {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.more-photo {
  width: 13px;
  height: 8px;
  margin-top: 8px;
}

.text{
  text-decoration: none;
}

@media (max-width: 475px) {

  .box{
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin-top: -225px;
    }

    .photo-logo{
      width: 260px;
      margin-top: -100px;
      
    }

.block{
  flex-direction: column;
  align-items: center;
  width: 0%;
}

.portfolio-container{
  margin: 25px;  
  width: 375px;
  justify-content: space-between;
  
}

.text-container{
  width: 251px;
  margin-top: 0;
  padding-right: 0;
  
}

  .button-left{
    margin:  0;
    margin-top: 58px;
    width: 39px;
    

  }

  .stren{
    width: 25px;
    margin: -3px;    
  }

}
